
#main {
    background-color: rgb(207, 243, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

svg {
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
}

.text {
    position: relative;
    margin: auto 200px auto auto;
    min-width: 400px;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}

#background path:nth-child(n+280) {
    animation: twinkle 7s ease-in-out infinite;
}

@keyframes twinkle {
    0% {fill: lightblue}
    12.5% {fill: rgb(185, 182, 249)}
    25% {fill: rgb(235, 151, 232)}
    37.5% {fill: rgb(228, 153, 163)}
    50% {fill: rgb(232, 198, 169)}
    62.5% {fill: rgb(212, 225, 164)}
    75% {fill: rgb(178, 230, 173)}
    100% {fill: rgb(169, 235, 215)}
}

.p {
    margin: 0;
    --h: auto;
    height: var(--h);
}

.p > span {
    opacity: 0;
    position: absolute;
    height: var(--h);
    left: 0;
    top: 0;
    margin-top: 20px;
    animation: display 20s infinite;
}

span:nth-child(2) {
    animation-delay: 4s;
}
span:nth-child(3) {
    animation-delay: 8s;
}
span:nth-child(4) {
    animation-delay: 12s;
}
span:nth-child(5) {
    animation-delay: 16s;
}

@keyframes display {
    0% {
        opacity: 0;     
      }
      10% {
        opacity: 1;
      }
      20% {
        opacity: 1;
      }
      30% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
}

@media screen and (max-width: 786px) {
    .text {
        margin: 0;
    }
}