label {
  margin: 3px auto 3px 0;
}
input {
  float: right;
}
span {
  width: 100%;
}

h2 {
  overflow: visible;
  text-align: center;
}

.inDivs {
  width: 50vw;
  max-width: 400px;
  min-width: 330px;
}

.length {
  width: 60%;
}

.pw {
  font-size: 50px;
  color: green;
  text-align: center;
}

.copyBtn {
  outline: none;
  border: hidden;
  border-radius: 5px;
  background-color: rgb(120, 211, 242);
  margin: 20px;
  width: 60%;
  height: 2em;
}

.btn-copy {
  outline: none;
  transform: translateX(0%);
  transition: transform 0.4s ease;
}

.btn-copy:after {
  content: url(baseline_content_copy_black_18dp.png);
  position: absolute;
  outline: none;
  left: 240px;
  bottom: -10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.copyBtn:hover .btn-copy,
.copyBtn:hover .btn-copy:after {
  transform: translateX(-20%);
  opacity: 1;
}