label {
  margin: 3px auto 3px 0;
}
input {
  float: right;
}
span {
  width: 100%;
}

h2 {
  overflow: visible;
}

#inDivs {
  width: 50vw;
  max-width: 400px;
  min-width: 330px;
}

#generateButton {
  border: hidden;
  border-radius: 5px;
  background-color: rgb(106, 208, 242);
  margin: 20px;
  width: 60%;
  height: 2em;
}

#create {
  position: relative;
}

#create::after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#generateButton:hover + #create {
  transform: translateX(30%);
}
#generateButton:hover + #create::after {
  opacity: 1;
}
