.font {
  font-family: "Quicksand", sans-serif;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

#form {
  position: relative;
  height: 50px;
  width: 350px;
  overflow: hidden;
}

#input {
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 10px;
  border: none;
  outline: none;
}

#label-line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

#label-line::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgb(129, 233, 232);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

#content-text {
  position: absolute;
  bottom: 5px;
  left: 1px;
  transition: all 0.5s ease;
}

/* when input is clicked, when input has content
    affects the labels 'content-name' */
input:focus + #label-line #content-text,
input:valid + #label-line #content-text {
  transform: translateY(-150%);
  font-size: 10px;
  color: rgb(129, 233, 232);
}

input:focus + #label-line::after,
input:valid + #label-line::after {
  transform: translateX(0%);
}
